<form action="/adicionar" method="POST" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <input type="text" name="nome" placeholder="Nome do Produto" class="bg-gray-700 p-3 rounded" required shadow-sm>
    <input type="text" name="preco_antigo" placeholder="Preço Original (ex: 35.49)" class="bg-gray-700 p-3 rounded">
    <input type="text" name="preco" placeholder="Preço Atual (ex: 27.30)" class="bg-gray-700 p-3 rounded" required>
    <input type="text" name="img_url" placeholder="URL da Imagem" class="bg-gray-700 p-3 rounded" required>
    <input type="text" name="link_afiliado" placeholder="Link de Afiliado" class="bg-gray-700 p-3 rounded" required>
    <input type="text" name="categoria" placeholder="Categoria (Ex: Tech, Gamer, Casa)" class="bg-gray-700 p-3 rounded">
    <button class="bg-green-600 hover:bg-green-700 font-bold py-3 rounded uppercase col-span-1 md:col-span-2">Salvar Oferta</button>
</form>