<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo das Ofertas | Vitrine</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <header class="bg-yellow-400 shadow-md border-b-4 border-blue-600 text-center">
        <h1 class="text-3xl font-black text-blue-800 uppercase italic p-6">Mundo das Ofertas</h1>
        <p class="font-bold text-blue-900 pb-4">🔥 Melhores Achadinhos de Hoje!</p>
    </header>

    <div class="container mx-auto p-6 grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for p in produtos %}
        <div class="bg-white p-4 rounded-xl shadow-md border border-gray-200 flex flex-col justify-between">
            <div>
                <img src="{{ p.img_url }}" class="w-full h-48 object-contain mb-4">
                <h2 class="font-bold text-lg leading-tight">{{ p.nome }}</h2>
                <p class="text-2xl font-black text-green-600 mt-2">R$ {{ p.preco }}</p>
            </div>
            
            <div>
                <a href="{{ p.link_afiliado }}" target="_blank" class="block bg-yellow-400 text-blue-900 text-center font-bold py-3 rounded-lg mt-4 hover:bg-yellow-500">
                    VER NO MERCADO LIVRE
                </a>

                
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>